/* css code goes here */
*{margin:0;
padding: 0;}
header img{
    width: 100%;
}
body{background-color: black}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li {
    display: inline-block;
    color: #CC8B9B;
    text-align: center;
    padding: 2% 10.9211111111%;
    text-decoration: none;
}

li a:hover {
    background-color: #554661;
