        /*Vironika Chhugani
    MMP310
    11/05/2016
*/
        
        body {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
            background: #415c61;
            font-family: sans-serif;
            font-weight: 400;
            font-size: 25;
            color: white;
        }
        
        h1 {
            padding: auto 2%;
            color: #94ddea;
            font-weight: 100;
            font-size: 40px;
            margin: 20px 0px 20px;
            text-align: center;
        }
        
        img {
            width: 100%;
        }
        
        div {
            text-align: center;
            font-size: 25px;
            float: left;
        }
        
        #start {
            width: 80%;
            align-content: center;
        }
        
        #1,
        #cnv,
        #3 {
            float: inherit;
            width: 30%;
        }
        
        #1,
        #2 {
            margin-top: 200px;
        }
        
        canvas {
            margin-left: 100px;
            margin-right: 100px;
            background-image: url(images/o.jpg);
        }
        
        #finish {
            width: 80%;
        }
        
        #button {
            margin-top: 100px;
            -moz-box-shadow: 0px 10px 14px -7px #276873;
            -webkit-box-shadow: 0px 10px 14px -7px #276873;
            box-shadow: 0px 10px 14px -7px #276873;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
            background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
            background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
            background-color: #599bb3;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 20px;
            font-weight: bold;
            padding: 13px 32px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #3d768a;
        }
        
        #button:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
            background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
            background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
            background-color: #408c99;
        }
        
        #button:active {
            position: relative;
            top: 1px;
        }
